a:hover {
	color: red;
}

ul.unordered {
	list-style-type: circle;
	color:blue;
}

#special {
	color: darkgreen;
	font-size: 200%;
}

table.testi {
	background-color: lightgreen;
}

#erikoinen {
	color: red;
	font-size: 50%;
}